:root {
  --color-neutral-7: #fff;
  --color-neutral-6: #eee;
  --color-neutral-5: #ddd;
  --color-neutral-1: #111;

  --color-background: #fff;
  --color-border: #ddd;
  --color-raised: #eee;

  --space-unit: 4px;

  --space-xxs: calc(var(--space-unit) * 0.5);
  --space-xs: var(--space-unit);
  --space-sm: calc(var(--space-unit) * 2);
  --space-md: calc(var(--space-unit) * 3);
  --space-lg: calc(var(--space-unit) * 4);
  --space-xl: calc(var(--space-unit) * 6);
  --space-2xl: calc(var(--space-unit) * 8);
  --space-3xl: calc(var(--space-unit) * 12);
  --space-4xl: calc(var(--space-unit) * 16);

  --rounded-sm: 4px;

  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 18px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--text-base);
  background: var(--color-background);
}

header {
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
