app-header {
  display: flex;
  align-items: center;
  border-bottom: var(--panel-border);
  padding: var(--space-xs) var(--space-lg);
  gap: var(--space-xs);
  flex-shrink: 0;
}

app-header h1 {
  font-size: var(--text-lg);
  line-height: calc(var(--space-unit) * 6);
  display: flex;
  flex-shrink: 0;
  margin-inline-end: auto;
}

.center-group {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -70px;
}
