app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-root main {
  flex-grow: 1;
  overflow: auto;
  display: grid;
  grid-template-areas:
    'sidebar viewer history'
    'sidebar viewer prompt';
  grid-template-columns: var(--sidebar-width, 350px) 2fr var(
      --history-width,
      350px
    );
  grid-template-rows: 1fr auto;
}
