app-viewer {
  background: var(--color-background);
  display: flex;
  overflow: hidden;
  grid-area: viewer;
  min-width: 0;
}

app-viewer .hidden {
  display: none;
}

app-viewer .container {
  display: flex;
  flex-direction: column;
  background: var(--color-raised);
  flex-grow: 1;
  overflow: hidden;
}

applet-frame {
  flex-grow: 1;
}

app-viewer .data-view {
  flex-grow: 1;
  background: var(--color-raised);
  padding: var(--space-md);
  margin: 0;
  white-space: pre-wrap;
  overflow: auto;
}

app-viewer .applet-header {
  border-bottom: 1px solid var(--color-border);
  padding: var(--space-unit) var(--space-md);
  display: flex;
  align-items: center;
  gap: var(--space-md);
  background: var(--color-background);
}

app-viewer .applet-header label {
  font-size: var(--text-sm);
}

app-viewer .applet-header .toggle {
  background: var(--color-neutral-50);
  border: var(--panel-border);
  display: flex;
  padding: 1px;
  border-radius: var(--rounded);
  gap: var(--space-xxs);
}

app-viewer .applet-header button {
  cursor: pointer;
  border: none;
  /* border-radius: var(--rounded); */
  padding: var(--space-xxs) var(--space-xs);
}

app-viewer .applet-header button[data-selected='true'] {
  border: var(--button-border);
  background: var(--color-raised);
}

app-viewer .applet-header button[data-selected='true']:hover {
  color: var(--text-color);
}

applet-frame {
  width: 100%;
  height: 100%;
}

app-viewer .applet-icon {
  width: 18px;
}

app-viewer .applet-title {
  font-weight: 600;
  flex-grow: 1;
}
