app-prompt {
  border-left: var(--panel-border);
  padding-inline: 16px;
  padding-block-end: 16px;
  grid-area: prompt;
}

app-prompt form {
  position: relative;
}

app-prompt input {
  width: 100%;
}

app-prompt .loader {
  position: absolute;
  inset-block-start: var(--space-sm);
  inset-inline-end: var(--space-sm);
  stroke-dasharray: 40 56;
  stroke-dashoffset: 0;
  animation: spin 1.5s linear infinite, dashOffset 2s ease-in-out infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dashOffset {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -96;
  }
}
