app-viewer {
  background: var(--color-background);
  padding: var(--space-lg);
  display: flex;
  overflow: auto;
  grid-area: viewer;
}

app-viewer .hidden {
  display: none;
}

app-viewer .container {
  display: flex;
  flex-direction: column;
  background: var(--color-raised);
  border: none;
  flex-grow: 1;
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  overflow: hidden;
}

applet-frame {
  flex-grow: 1;
}

app-viewer .data-view {
  flex-grow: 1;
  background: var(--color-raised);
  padding: var(--space-md);
  margin: 0;
  white-space: pre-wrap;
  overflow: auto;
}

app-viewer .applet-footer {
  border-top: 1px solid var(--color-border);
  padding: var(--space-unit) var(--space-md);
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

app-viewer .applet-footer label {
  font-size: var(--text-sm);
}

app-viewer .applet-footer .toggle {
  background: var(--color-neutral-50);
  border: var(--panel-border);
  display: flex;
  padding: 1px;
  border-radius: var(--rounded);
  gap: var(--space-xxs);
}

app-viewer .applet-footer button {
  cursor: pointer;
  border: none;
  /* border-radius: var(--rounded); */
  padding: var(--space-xxs) var(--space-xs);
}

app-viewer .applet-footer button:hover {
  /* background: var(--color-background); */
}

app-viewer .applet-footer button[data-selected='true'] {
  border: var(--button-border);
  background: var(--color-raised);
}

app-viewer .applet-footer button[data-selected='true']:hover {
  color: var(--text-color);
}
