app-viewer {
  flex-grow: 1;
  background: #f4f4f4;
  padding: 16px;
  display: flex;
}

applet-frame {
  background: white;
  border: none;
  flex-grow: 1;
  border: 1px solid var(--color-border);
  border-radius: 6px;
}
