app-history {
  border-left: 1px solid var(--color-border);
  padding: var(--space-lg);
  grid-area: history;
  display: flex;
  overflow: hidden;
}

app-history .history {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  background: var(--color-neutral-0);
  padding: var(--space-md);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded-md);
  overflow-y: scroll;
}

app-history .bubble-container {
  display: flex;
}

/* Align assistant bubbles to the left */
app-history .assistant-bubble-container {
  justify-content: flex-start;
}

/* Align user bubbles to the right */
app-history .user-bubble-container {
  justify-content: flex-end;
}

app-history .action-output {
  justify-content: center;
  display: flex;
  gap: var(--space-sm);
  color: var(--color-neutral-600);
}

app-history .bubble {
  border-radius: var(--rounded-lg);
  padding: var(--space-sm) var(--space-md);
  box-shadow: var(--shadow);
  max-width: 64ch;
  text-align: left;
  word-break: break-word;
  box-shadow: var(--shadow);
}

/* User bubble styling */
app-history .user {
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-border);
}

/* Assistant bubble styling (keeps the shadow) */
app-history .assistant {
  /* background-color: var(--color-neutral-0); */
  border: 1px solid var(--color-border);
}

app-history span {
  white-space: pre-line;
}
