.menu-button {
  display: flex;
  cursor: pointer;
  border: none;
  color: var(--color-text);
  border-radius: var(--rounded);
  border: 1px solid transparent;
}

.menu-button:hover {
  background: transparent;
  color: var(--color-action);
}
