settings-dialog dialog {
  display: none;
  flex-direction: column;
  border: 1px solid var(--color-border);
  padding: 0;
  border-radius: var(--rounded);
  pointer-events: none;
  width: 400px;
  min-height: 200px;
  background-color: var(--color-raised);
  color: var(--color-text);
  box-shadow: var(--shadow);
}

settings-dialog dialog[open] {
  display: flex;
  pointer-events: auto;
}

settings-dialog .dialog-header,
settings-dialog .dialog-content,
settings-dialog .dialog-footer {
  padding-block: var(--space-xs);
  padding-inline: var(--space-md);
}

settings-dialog .dialog-header {
  border-block-end: var(--panel-border);
  position: relative;
}

settings-dialog .close-dialog-button {
  display: flex;
  position: absolute;
  inset-block-start: var(--space-xs);
  inset-inline-end: var(--space-sm);
  padding: 0;
  border: none;
  background: transparent;
  color: var(--color-text);
  cursor: pointer;
}

settings-dialog .close-dialog-button:hover {
  color: var(--color-action);
}

settings-dialog .dialog-content {
  flex-grow: 1;
}

settings-dialog .dialog-footer {
  border-block-start: var(--panel-border);
  display: flex;
  flex-direction: row-reverse;
  gap: var(--space-sm);
}

settings-dialog .dialog-header h2 {
  font-size: var(--text-md);
  margin: var(--space-xs) 0;
  /* line-height: calc(var(--space-unit) * 6); */
}

settings-dialog form {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  padding-block: var(--space-sm);
}

settings-dialog fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-sm);
}

settings-dialog input {
  width: 100%;
}

settings-dialog .clear-button {
  align-self: end;
  background: var(--color-raised);
  color: var(--color-text);
}

settings-dialog .clear-button:hover {
  background: var(--color-action);
  color: var(--color-button-text-hover);
}