* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui;
  font-size: 14px;
}

input {
  font-family: system-ui;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 8px 14px;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

applet-select select {
  width: 300px;
  padding: 4px;
  font-size: 14px;
}

h1 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

main {
  display: flex;
  flex-grow: 1;
}

aside {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.page {
  padding: 8px 14px;
  width: 100%;
}

aside code {
  display: block;
  width: 100%;
  white-space: pre-wrap;
  padding: 4px;
  font-size: 12px;
}

.main {
  flex-grow: 1;
  border-width: 0 1px;
  border-style: solid;
  border-color: #ccc;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
  padding: 14px;
}

.applet-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.applet-container label {
  align-self: flex-start;
  font-size: 12px;
  font-weight: 500;
  color: #777;
  padding-left: 4px;
}

.applet-container iframe {
  background: white;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 8px 14px;
  padding-top: 0;
  flex-grow: 1;
}

fieldset .action {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.action input {
  z-index: 100;
  margin-top: 13px;
}

.action label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: -25px;
  padding: 10px;
  padding-left: 25px;
  border-radius: 4px;
}

.action-name {
  font-weight: 500;
}

.action-description {
  color: #6f6f6f;
}

input[type='radio']:checked + label {
  background: #edf6fe;
}

#action-form {
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 20px 14px;
  gap: 20px;
  max-height: 50vh;
  overflow-y: scroll;
}

#action-form label,
#action-form p {
  padding: 0;
  margin: 0;
  display: inline;
}

#action-form div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#action-form div input {
  margin-top: 4px;
  padding: 4px;
}

#action-form label {
  font-weight: 600;
}

#action-form input[type='submit'] {
  padding: 2px;
  font-weight: 500;
}

#action-form p {
  color: #888;
}

#cmd-form {
  width: 100%;
}

#cmd-input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}
